/*propriedades gerais*/
.img-center{
    background-position: center;
    background-size: cover;

}
h1{
    text-align: center;
    margin-bottom: 50px;
}
/*img-produto*/
#img-produto1{
    background-image: url(/img/pexels-jess-bailey-designs-788946.jpg);
    height: 400px;
    margin-bottom: 50px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
/*FORM*/
form, .row{
    margin: 0 auto;
    margin-top: 10px;
}
#switch{
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
}
